[Unit]
Description=Pacman mirrorlist update
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 30
ExecStart=/usr/bin/reflector --protocol http {{ device_reflector_filter }} --sort rate --save /etc/pacman.d/mirrorlist

[Install]
RequiredBy=multi-user.target
